<h1>Réinitialisation de votre mot de passe</h1>

<p>Vous avez demandé la réinitialisation de votre mot de passe.</p>
<p>Cliquez sur le lien pour réinitialiser votre mot de passe : </p>
<a href="{{ reset_password_url }}">{{ reset_password_url }}</a>